<%- include('templates/header', { title: 'Home', user }) %>

  <% if (user) { %>
    <h1><%= message %></h1>
    <p>
      <a href="<%= membersLink %>">Go to Members Area</a> |
      <a href="<%= logoutLink %>">Log Out</a>
    </p>
  <% } else { %>
    <p><%= message %></p>
  <% } %>
<%- include('templates/footer') %>